<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="/image/x-icon">
    <script src="/javascripts/jquery.min.js"></script>
</head>
<body>
    <div class="main-wrapper">
        <header><%= title %></header>
        <nav>
            <ul>
                <li><a href="?page=home">Home</a></li>
                <li><a href="?page=manager">Manager</a></li>
                <li><a href="?page=student">Student</a></li>
            </ul>
        </nav>
        <div class="main-content">
            <section>
                <form id="regForm" action="">
                    <h1 style="text-align: center;">Student Record</h1>
                    
                    <!-- One "tab" for each step in the form: -->
                    <div class="tab">
                        <p><input placeholder="Student ID..." oninput="this.className = ''"></p>
                        <br>
                        <p style="width: 30%; margin: auto"><input type="button" value="Get Info" ></p>
                        <p id="record"></p>
                    </div>
                </form>
            </section>
        </div>
        <footer>
            <p>Copyright &copy;<span style="color: rgb(29, 12, 70);">nguyenvlm</span>. All rights reserved.</p>
        </footer>
    </div>
</body>
<script src="/javascripts/form.js"></script>
</html>